<div>
    <div class="row">
        <div class="col-xs col-md-3 mt-2">
            <div class="inline-flex">

                <label class="">Proveedor</label>
                <div *ngIf="proveedor" class="pointer close-icon ml-auto">
                    <button (click)="proveedor = null; buscar() " type="button" class="btn btn-sm btn-light"><i
                            class=" ti-close  "></i></button>
                </div>
            </div>
            <div class="" *ngIf="!proveedor">
                <ng-select    
                [typeahead]="inputProveedores" [loading]="loadingProveedores"
                            [items]="proveedores" name="dsfdbrdafwseqcda" [(ngModel)]="proveedor"
                            (ngModelChange)="buscar()"

                            notFoundText="no se encontraron resultados"
                            placeholder="Buscar Proveedor" bindLabel="NOMBRES"
                            [searchFn]="customSearchFn"
                 >
                    <ng-template ng-option-tmp let-item="item">
                        <div>
                            <div *ngIf="item.APELLIDOS">{{item.APELLIDOS}} {{item.NOMBRES}}</div>



                            <small>{{item.RUC | ruc}}</small>
                        </div>

                    </ng-template>
                </ng-select>
            </div>


            <div class="" *ngIf="proveedor">
                <div>
                    <div *ngIf="proveedor.APELLIDOS">{{proveedor .NOMBRES}} {{proveedor .APELLIDOS}}
                    </div>

                    <small>{{proveedor.RUC | ruc}}</small>
                </div>
            </div>
        </div>
        <div class="col-xs col-md-3 mt-2">
            <div class="inline-flex">

                <label class="">Cliente</label>
                <div *ngIf="cliente" class="pointer close-icon ml-auto">
                    <button (click)="cliente = null;buscar() " type="button" class="btn btn-sm btn-light"><i
                            class=" ti-close  "></i></button>
                </div>
            </div>
            <div class="" *ngIf="!cliente">
                <ng-select    
                [typeahead]="inputClientes" [loading]="loadingClientes"
                            [items]="clientes" name="dsfdbrdafwseqcda" [(ngModel)]="cliente"
                            (ngModelChange)="buscar()"
                            notFoundText="no se encontraron resultados"
                            placeholder="Buscar Cliente" bindLabel="NOMBRES"
                            [searchFn]="customSearchFn"
                 >
                    <ng-template ng-option-tmp let-item="item">
                        <div>
                            <div *ngIf="item.APELLIDOS">{{item.APELLIDOS}} {{item.NOMBRES}}</div>

                            <small>{{item.RUC | ruc}}</small>
                        </div>

                    </ng-template>
                </ng-select>
            </div>


            <div class="" *ngIf="cliente">
                <div>
                    <div *ngIf="cliente.APELLIDOS">{{cliente .NOMBRES}} {{cliente .APELLIDOS}}
                    </div>

                    <small>{{cliente.RUC | ruc}}</small>
                </div>
            </div>
        </div>
        <div class="col-xs col-md-3 mt-2">
            <div style="display: flex;" class="">
                <span>Contrato</span>
                <div *ngIf="contrato" style="height: fit-content;" class="pointer close-icon ml-auto">
                    <button (click)="contrato = null; buscar()" type="button" class="btn btn-sm btn-light"><i
                            class=" ti-close  "></i></button>
                </div>
            </div>

            <div *ngIf="!contrato" class="">

                <div style="display: flex;" class="">
                    <div class="card">
                        <div class="card-body">
                            <button type="button" (click)="showModal = true"
                                class="btn btn-inverse">Buscar
                                Contrato</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="contrato" class="">
                <div style="display: flex;" class="">

                    <div class="card bg-light">
                        <div class="card-body">

                            <span><b>Titular:</b> {{contrato.titular.NOMBRES}}
                                {{contrato.titular.APELLIDOS}}</span>
                            <br>
                            <span><b>Servicio:</b> {{contrato.producto.NOMBRE}}</span>
                            <br>
                            <span><b>Número de contrato:</b> {{contrato.nro_contrato}}</span>
                            <br>
                            <span><b>Fecha de creación:</b> {{contrato.fecha_creacion_unix | date
                                }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 *ngIf="showTitle"> <span class="lstick"></span> Egresos </h4>

        <table *ngIf="movimientos" class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fondo</th>
                    <th>Nro Factura</th>
                    <th style="min-width: 120px;">Fecha</th>
                    <th>Nombre</th>
                    <th style="width: 25%;">Comentario</th>
                    <th>Monto</th>

                </tr>
            </thead>
            <tbody>
                <tr [routerLink]="['/admin/gasto', item._id]" routerLinkActive="router-link-active"  *ngFor="let item of movimientos | paginate: { itemsPerPage: 10,totalItems:count, currentPage: page } ; let i = index; " [ngClass]="'pointer'">
                    <td>{{page*10 + (i+1) - 10}}</td>
                    <td *ngIf="item.fondo">{{item.fondo.RAZON}}</td>
                    <td *ngIf="!item.fondo">--</td>
                    <td>{{item.nro_comp_banco}}</td>

                    <td>
                        {{item.fecha_creacion_unix | date:' d, MMM y'}}
                        <!-- <br> {{item.fecha_creacion_unix | date:' h:mm a'}} -->


                    </td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.comentario}}</td>


                    <td *ngIf="item.monto_haber">{{item.monto_haber | currency: '':'':'2.0'}} Gs</td>
                    <td *ngIf="item.monto_total"  >{{item.monto_total | currency: '':'':'2.0'}} Gs</td>

                </tr>

            </tbody>
        </table>
        <div style="width: 100%;">
            <div style="display: flex;">
                <div class="mx-auto">
                    <pagination-controls *ngIf="count>10" (pageChange)="pageChanged($event); page = $event">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-contratos (contratoSelected)="contrato  = $event; buscar()" [showFilters]="true" [cliente]="cliente"
    (onClose)="showModal = false" *ngIf="showModal"></app-modal-contratos>