.gris{ background-color:#d1d1d1; color: black;  }

.rojo { background-color:#f75b5b; color: black;  }
.amarillo { background-color:#dad878; color: black;  }
.naranja { background-color:#f3b04c; color: black;  }
.rojo:hover { background-color:#d14e4e; color: black;  }
.amarillo:hover { background-color:#b6b454; color: black;  }
.naranja:hover { background-color:#db9a38; color: black;  }
.gris:hover{ background-color:#bebebe; color: black;  }

.blob.red {
  background: rgb(82, 190, 253);
  box-shadow: 0 0 0 0 rgba(82, 190, 253, 1);
  animation: pulse-red 2s infinite;
}


@keyframes pulse-red {
  0% {
    transform: scale(2.95);
    box-shadow: 0 0 0 0 rgba(82, 190, 253, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(82, 190, 253, 0);
  }
  
  100% {
    transform: scale(2.95);
    box-shadow: 0 0 0 0 rgba(82, 190, 253, 0);
  }
}


.blob {
   
  /* transform: scale(1); */
  animation: pulse-black 2s infinite;
}
.scale{
   /* transform: scale(.9); */
  transform-origin: top left;
}

.fondo-negro {
  background-color: rgba(0, 16, 37, 0.459);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

@media (min-width: 768px) {
  .modal-xl {
      width: 90%;
      max-width: 1200px;
  }
}

.scroll {
  overflow: auto;
  height: 700px;
}

