<!-- <button class="btn btn-primary" (click)="getPositionByContrato(ubicaciones[10].parcelas[4].filas[5].contrato)">contrato</button>
<button class="btn btn-primary" (click)="findAndScroll('160439')">BBBBB</button> -->

<div style="font-size: small; overflow-x: scroll;">
    <div class="row" style="width: 3300px;  ">
        <div class="col-xs col-md-3" style="max-width: fit-content" *ngFor="let ubicacion of ubicaciones">
            <h3>Manzana: {{ubicacion.manzana}}</h3>
            <div style="display: flex;">
                <div *ngFor="let itemuno of ubicacion.parcelas; let i = index;"
                    style="width: 40px; display: flex; border-right: 1px solid;"
                    [ngClass]="{'mr-5': ubicacion?.parcelas[i+1]?.col != itemuno.col}">
                    <span style="width: 100%; display: block;">
                        <div style="width: 100%; display: flex; border-bottom: 1px black solid;">
                            <div class="m-auto">F {{itemuno.col}}</div>
                        </div>
                        <div *ngFor="let item of itemuno.filas">
                            <div *ngIf="item.index != -1" (click)="goToContrato(item.contrato?._id)"
                                [ngClass]="{'rojo': item.contrato, 'pointer': item.contrato  }"
                                style="width: 100%; display: flex; border-bottom: 1px black solid;">
                                <div class="m-auto" id="{{ubicacion.manzana +''+itemuno.col+ ''+item.index }}">{{item.index}}</div>

                            </div>
                            <div *ngIf="item.index == -1" (click)="goToContrato(item.contrato?._id)"
                                [ngClass]="{'rojo': item.contrato, 'pointer': item.contrato  }"
                                style="width: 100%; display: flex; ">
                                <div class="m-auto">&nbsp;</div>
                            </div>
                        </div>

                    </span>
                </div>
            </div>
        </div>
    </div>

</div>






<!-- <div *ngFor="let ubicacion of ubicaciones; let x = index;">

    <div *ngFor="let columnas of ubicacion.parcelas[x].filas" style="height: 40px; width: 100%; display: flex;"
        class="">

        <div *ngFor="let columna of ubicacion.parcelas; let i = index"
            style="width: 10%; display: flex; border-bottom: 1px solid; border-right: 1px solid;">
            <span class="m-auto">{{columna.filas[i]}} </span>
        </div>

    </div>
</div> -->